.vscode/*
!.vscode/c_cpp_properties.json
*.o
*.d
*.obj
src/**/*.a
lib/*
!lib/xradio_v2
!lib/xradio_v3
!lib/libaac.a
!lib/libadt.a
!lib/libairkiss_aes.a
!lib/libamr.a
!lib/libamren.a
!lib/libblec.a
!lib/libcedarx.a
!lib/libdrc.a
!lib/libeq.a
!lib/libhostapd.a
!lib/libmp3.a
!lib/libnet80211.a
!lib/libopus.a
!lib/libreverb.a
!lib/libsc_assistant.a
!lib/libsecureboot.a
!lib/libspeex.a
!lib/libwatchpoint.a
!lib/libwav.a
!lib/libwpa.a
!lib/libwpa_wps.a
!lib/libwpas.a
!lib/libzbar.a
out
.config
.config.old
include/config/auto.conf
include/config/auto.conf.cmd
include/generated/autoconf.h